
enuSpace-SciLua/.vs/**
enuSpace-SciLua/*.db
enuSpace-SciLua/*.opendb
enuSpace-SciLua/Debug/**
enuSpace-SciLua/Release/**
enuSpace-SciLua/ipch/**
enuSpace-SciLua/x64/**
enuSpace-SciLua/enuSpace-SciLua/Debug/**
enuSpace-SciLua/enuSpace-SciLua/Release/**
enuSpace-SciLua/enuSpace-SciLua/x64/**
enuSpace-SciLua/enuSpace-SciLua/lua-5.1/**
enuSpace-SciLua/enuSpace-SciLua/LuaJit-2.0.5/**